@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.saved-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 24vh;
	width: 100%;
}

.saved-dimensions {
	margin: 1.5% 0;
	width: 30%;
	height: 100%;
	background-color: white;
}

.no-saved-listings {
	height: 50vh;
	width: 100%;
	margin: 0 auto;
	background: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span {
		font-size: 10rem;
	}
	h1 {
		font-family: Roboto, sans-serif;
	}
}

@media (max-width: 768px) {
	.saved-dimensions {
		width: 48%;
		height: 30vh;
		.icon-info {
			span {
				font-size: 2.5rem;
			}
		}
		span {
			font-size: 1.4rem;
		}

		.main-address {
			font-size: 1.1rem;
		}

		.city-state {
			font-size: 0.8rem;
		}
	}
}

@media (max-width: 468px) {
	.saved-dimensions {
		width: 100%;

		.main-address {
			font-size: 1.1rem;
		}

		.city-state {
			font-size: 0.9rem;
		}

		.info {
			width: 90%;
			padding: 5px 0;
		}

		.price {
			p {
				font-size: 18px;
			}
		}
		.icon-info {
			span {
				font-size: 1.5rem;
			}

			p {
				font-size: 1.2rem;
			}
		}
	}
}
